.btn {
	padding: 10px 20px;
	font-weight: bold;
}

#btn_msg{
    width: 11vw;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    color:white;
	margin-left: 71vw;
	margin-top: 1vw;
}