.schedule {
	th {
		vertical-align: middle;
	}
	
	thead th,
	tbody th {
		font-weight: normal;
		color: $color-text-secondary;
	}

	thead th {
		border-bottom: none;
		border-top: none;

		&:not(:last-child) {
			border-right: 1px solid #dee2e6;
		}
	}

	tbody td {
		padding: 0;

		&:not(:last-child) {
			border-right: 1px solid #dee2e6;
		}
	}

	tbody th {
		border-right: 1px solid #dee2e6;
	}
}

.schedule-table-container {
	@include material-box-shadow(2, false);

	background-color: #fff;
	padding: 30px 20px;
}

.object {
	border-radius: 5px;
	padding: 20px 10px;
	margin: 10px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	height: 100%;

	cursor: pointer;

	&.course {
		@include darkenBgColorOnHover(#FFE35E);
	}

	&.laboratory {
		@include darkenBgColorOnHover($color-primary);
	}

	&.seminary {
		@include darkenBgColorOnHover(#DA1E58);
	}

	&.consultations {
		@include darkenBgColorOnHover(#76DDD6);
	}
}