.page-header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.title {
		font-weight: bold;
		font-size: 50px;
	}

	.subtitle {
		font-size: 16px;
		text-transform: uppercase;
		color: $color-text-secondary;
	}
}