a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
.navbar{
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
	 background: #27AAE1;
    color: #fff;
	transition: all 0.3s;
	display: block;
}
#sidebar .sidebar-header{
	padding: 20px;
	background: #27AAE1;
}
#sidebar ul.components{
	padding: 20px 0px;
}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
.sidebar-header {
	background: #27AAE1;
	img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: block;
	}
	color: white;
	button {
		background-color: #27AAE1;
		border: none;
	}
}
ul {
	button {

		border: none;
		background: #7386D5;
		color: white;
	}
}
.fas {
	width: 10px;
	font-size: 20px;
	color: white;
}
