.success-box {
	display: none;
	margin: 10px 0;
}

span {
	font-size: 1.2em;
}
.rating-stars ul {
	list-style-type: none;
}

.rating-stars ul>li.star>i.fa {
	font-size: 1.5em;
	color: #ccc;
}

.rating-stars ul>li.star.hover>i.fa {
	color: #FFCC36;
}

.rating-stars ul>li.star.selected>i.fa {
	color: #FF912C;
}
