<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<title>FII Student</title>
</head>

<body>

	<%= require('html-loader!./partials/shared/navbar.html') %>
	<div class="container-fluid">
		<div class="container">
			<div class="section">
				<div class="content">
						<div class="aligne-middle">
							<h2>Căutare săli libere pentru interval orar </h2>
						</div>
					<div class="row border-top">
						<div class="sidebar">
							<a href="#">Sali si resurse</a>
							<a href="#">Orar Profesori</a>
							<a href="#">Orar Studenti</a>
						</div>
						<div class="search-room col-sm-10 col-md-10 border-left">
							<div class="search-form m-auto">
								<div class="row pad-left border-bottom pad-bot">   
									<div class="input-group col-xs-3 col-sm-3 col-md-3">
										<div class="control-group">
											<label class="control-label" for="form_data">Data</label>  
											<div class="input-group date" data-date-format="dd-mm-yyyy">                        
												<input name="form_data" class="form-control" type="text" readonly="" size="14">
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
											</div> 
										</div>  
									</div>		 
											 
									<div class="col-xs-2 col-sm-2 col-md-2">
										<div class="control-group">
											<label class="control-label" for="start-hour">Ora de start</label>  
											<select name="start-hour" id="start-hour" class="form-control">
												<option value="" selected="selected"></option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
												<option value="21">21</option>
												<option value="22">22</option>
											</select>
										</div>
									</div>   
												
												
									<div class="col-xs-2 col-sm-2 col-md-2">
										<div class="control-group">
											<label class="control-label" for="duration">Durata(h)</label>  
											<select name="duration" id="duration" class="form-control">
												<option value="" selected="selected"></option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</div>
									</div>      
								</div>
								  
								 <!--aici va aparea lista de sali-->
								<div>row 2</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./partials/shared/footer.html') %>
</body>

</html>