<div class="modal sign-modal fade" id="forgotpassModal" tabindex="-1" role="dialog" aria-labelledby="forpassModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h5 class="over-title">Mi-am uitat parola</h5>
					<h3 class="title">Reseteaza parola</h3>
				</div>
				<div class="content">
					<div class="sub-title">
						<h4>Introdu adresa de email si vei primi toate detaliile de resetare a parolei.</h4>
					</div>
					<form>
						<div class="form-group">

							<label for="email">Adresa email</label>
							<input type="email" class="form-control" id="email" placeholder="Introduceti email-ul">
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-block btn-lg" value="trimite  email">
						</div>
						<div class="form-group">
							<p>Ai deja cont?<a href="#loginModal" data-toggle="modal" data-dismiss="modal"
									class="color-primary"> Log In </a></p>
							<p>Utilizator nou ?<a href="#registerModal" data-toggle="modal" data-dismiss="modal"
									class="color-primary">Inregistreaza-te</a></p>
							<p><a href="#resetpassModal" class="color-primary" data-dismiss="modal"
									data-toggle="modal">Parola Noua </a>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>