<div class="modal sign-modal fade" id="forgotpassModal" tabindex="-1" role="dialog" aria-labelledby="forpassModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="header">
					<h5 class="over-title">Mi-am uitat parola</h5>
					<h3 class="title">Resetează parola</h3>
				</div>
				<div class="content">
					<div class="sub-title">
						<h4>Introdu adresa de email și vei primi toate detaliile de resetare a parolei.</h4>
					</div>
					<form>
						<div class="form-group">

							<label for="email">Adresă email</label>
							<input type="email" class="form-control" id="email" placeholder="Introduceți email-ul">
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-block btn-lg" value="Trimite">
						</div>
						<div class="form-group">
							<p>Ai deja cont? <a href="#loginModal" data-toggle="modal" data-dismiss="modal"
									class="color-primary">Loghează-te</a></p>
							<p>Utilizator nou? <a href="#registerModal" data-toggle="modal" data-dismiss="modal"
									class="color-primary">Înregistrează-te</a></p>
							<p><a href="#resetpassModal" class="color-primary" data-dismiss="modal"
									data-toggle="modal">Parolă Nouă</a>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>