<div class="modal sign-modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<div class="header">
					<h6 class="over-title">Bine ați revenit!</h6>
					<h2 class="title">Logare</h2>
				</div>
				<div class="content">
					<form id="loginForm" class="needs-validation" novalidate>
						<div class="form-group">
							<label for="email">Adresă email</label>
							<input type="email" class="form-control" id="email" placeholder="Introduceți email-ul" required>
						</div>
						<div class="form-group">
							<label for="password">Parolă</label>
							<input type="password" class="form-control" id="password" placeholder="Introduceți parola" required>
						</div>
						 <div class="text-left">
							<a href="#forgotpassModal" id="fgpsd" class="color-primary" data-dismiss="modal"
								data-toggle="modal">Mi-am uitat parola</a> 
						</div> 
						<button type="submit" class="btn btn-primary">Loghează-te</button>
						<span class="m-2 color-text-secondary"> sau </span>
						<a href="#" class="color-primary" data-toggle="modal" data-dismiss="modal"
							data-target="#registerModal">Înregistrează-te</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#loginForm').submit(function (event) {
		event.preventDefault();

		if (!this.checkValidity()) {
			return;
		}

		$.ajax({
			url: endpoint + "login",
			data: {
				email: $(this).find('#email').val(),
				password: $(this).find('#password').val()
			}
		}).then(function (data) {
			if (data.status === "error") {
				alert(data.errors[0].message);
			} else {
				sessionStorage.setItem("accessToken", data.token);
				window.location.href = "/dashboard.html";
			}
		});
	});
</script>