<div class="modal sign-modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<div class="header">
					<h6 class="over-title">Welcome back</h6>
					<h2 class="title">Log In</h2>
				</div>
				<div class="content">
					<form id="loginForm">
						<div class="form-group">
							<label for="email">Email address</label>
							<input type="email" class="form-control" id="email" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Password">
						</div>
						<div class="text-center">
							<a href="#forgotpassModal" id="fgpsd" class="color-primary" data-dismiss="modal"
								data-toggle="modal">Mi-am uitat parola</a>
						</div>
						<button type="submit" class="btn btn-primary">Log In</button>
						<span class="m-2 color-text-secondary"> or </span>
						<a href="#" class="color-primary" data-toggle="modal" data-dismiss="modal"
							data-target="#registerModal">Register</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>