<!--Modal Quick Email-->
<div class="modal sign-modal fade" id="quickEmailModal" tabindex="-1" role="dialog"
	aria-labelledby="qucikEmailModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<div class="header">
					<h6 class="over-title">Trimite email</h6>
				</div>
				<div class="content">
					<form id="quick-emailFrom" class="needs-validation" novalidate>
						<div class="form-group">
							<input type="hidden" id="id-teacher" value="" required />
						</div>
						<div class="form-group">
							<label for="subject">Subiect</label>
							<input type="text" class="form-control" id="subject" placeholder="Introduceți subiectul" required>
						</div>
						<div class="form-group">
							<label for="message">Mesaj</label>
							<textarea type="text" id="message" name="message" rows="4" class="form-control"
								placeholder="Indroduceți mesajul..." required></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Trimite</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#quick-emailFrom').submit(function (event) {
		event.preventDefault();

		if (!this.checkValidity()) {
			return;
		}

		$.ajax({
			url: endpoint + "quickmail",
			beforeSend: function (xhr) {
				xhr.setRequestHeader('Authorization', 'Bearer ' + sessionStorage.getItem("accessToken"));
			},
			data: {
				urlsafe: $(this).find('#id-teacher').val(),
				subject: $(this).find('#subject').val(),
				content: $(this).find('#message').val()
			}
		}).then(function (data) {
			if (data.status === "error") {
				alert(data.errors[0].message);
			}

			if (data.status === "ok") {
				$('#quickEmailModal').modal('toggle');
			}

			$('#id-teacher').val('');
			$('#subject').val('');
			$('#message').val('');
		});
	});

	function sendEmail(teacherId) {
		$('#id-teacher').val(teacherId);
	}
</script>