<!--Modal Quick Email-->
<div class="modal sign-modal fade" id="quickEmailModal" tabindex="-1" role="dialog"
	aria-labelledby="qucikEmailModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<div class="header">
					<h6 class="over-title">Trimite email</h6>
				</div>
				<div class="content">
					<form id="quick-emailFrom">
						<div class="form-group">
							<label for="recipient">Destinatar</label>
						</div>
						<div class="form-group">
							<label for="subject">Subiect</label>
							<input type="text" class="form-control" id="subject" placeholder="Introduceți subiectul">
						</div>
						<div class="form-group">
							<label for="message">Mesaj</label>
							<textarea type="text" id="message" name="message" rows="4" class="form-control"
								placeholder="Indroduceți mesajul..."></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Trimite</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
		$('#quick-emailFrom').submit(function(event) {
			event.preventDefault();
	
			$.ajax({
				url: endpoint + "quickmail",
				data: {
					urlsafe: $(this).find('#id_teacher').val(),
					subject: $(this).find('#subject').val(),
					content: $(this).find('#message').val()
				}
			}).then(function (data) {
				if(data.status === "error") {
					alert(data.errors[0].message);
				}
	
				if(data.status === "ok") {
					$('#quickEmailModal').modal('toggle'); 
				}
			});
		});
	</script>