<div class="modal sign-modal fade scroll-modal" id="registerModal" tabindex="-1" role="dialog"
	aria-labelledby="registerModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<div class="header">
					<h6 class="over-title">Bun venit pe FiiStudent!</h6>
					<h2 class="title">Înregistrează-te</h2>
				</div>

				<div class="content" id="myTab">
					<ul class="nav nav-tabs justify-content-center mb-3">
						<li class="nav-item">
							<a class="nav-link active" id="studs-register-tab" data-toggle="tab" href="#studs-register"
								aria-controls="home" aria-selected="true">Ca Student</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profs-register-tab" data-toggle="tab" href="#profs-register"
								role="tab" aria-controls="profile" aria-selected="false">Ca Profesor</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="studs-register" aria-labelledby="studs-register-tab">
							<form id="studs-registerForm" class="needs-validation" novalidate>
								<div class="form-group">
									<label for="nameStud">Nume</label>
									<input type="text" class="form-control" id="nameStud"
										placeholder="Introduceți numele" required>
								</div>
								<div class="form-group">
									<label for="name2Stud">Prenume</label>
									<input type="text" class="form-control" id="name2Stud"
										placeholder="Introduceți prenumele" required>
								</div>
								<div class="form-group">
									<label for="matricol">Număr Matricol</label>
									<input type="text" class="form-control" id="matricol"
										placeholder="Introduceți numărul matricol" required>
								</div>
								<div class="form-group">
									<label for="stud-group">An/Grupă</label>
									<select id="stud-group" class="form-control" required>
										<option value="MOC1">MOC1</option>
										<option value="MOC2">MOC2</option>
										<option value="MIS2">MIS2</option>
										<option value="MSD2">MSD2</option>
										<option value="MLC1">MLC1</option>
										<option value="MLC2">MLC2</option>
										<option value="MSI1">MSI1</option>
										<option value="MSI2">MSI2</option>

										<option value="I1A1">I1A1</option>
										<option value="I1A2">I1A2</option>
										<option value="I1A3">I1A3</option>
										<option value="I1A4">I1A4</option>
										<option value="I1A5">I1A5</option>
										<option value="I1A6">I1A6</option>
										<option value="I1A7">I1A7</option>
										<option value="I1B1">I1B1</option>
										<option value="I1B2">I1B2</option>
										<option value="I1B3">I1B3</option>
										<option value="I1B4">I1B4</option>
										<option value="I1B5">I1B5</option>
										<option value="I1B6">I1B6</option>
										<option value="I1B7">I1B7</option>
										<option value="I1E1">I1E1</option>
										<option value="I1E2">I2E2</option>
										<option value="I2A1">I2A1</option>
										<option value="I2A2">I2A2</option>
										<option value="I2A3">I2A3</option>
										<option value="I2A4">I2A4</option>
										<option value="I2A5">I2A5</option>
										<option value="I2A6">I2A6</option>
										<option value="I2A7">I2A7</option>
										<option value="I2B1">I2B1</option>
										<option value="I2B2">I2B2</option>
										<option value="I2B3">I2B3</option>
										<option value="I2B4">I2B4</option>
										<option value="I2B5">I2B5</option>
										<option value="I2B6">I2B6</option>
										<option value="I2B7">I2B7</option>
										<option value="I2E1">I2E1</option>
										<option value="I2E2">I2E2</option>
										<option value="I3A1">I3A1</option>
										<option value="I3A2">I3A2</option>
										<option value="I3A3">I3A3</option>
										<option value="I3A4">I3A4</option>
										<option value="I3A5">I3A5</option>
										<option value="I3A6">I3A6</option>
										<option value="I3A7">I3A7</option>
										<option value="I3B1">I3B1</option>
										<option value="I3B2">I3B2</option>
										<option value="I3B3">I3B3</option>
										<option value="I3B4">I3B4</option>
										<option value="I3B5">I3B5</option>
										<option value="I3B6">I3B6</option>
										<option value="I3B7">I3B7</option>
										<option value="I3E1">I3E1</option>
										<option value="I3E2">I3E2</option>
										<option value="I2X1">I2X1</option>
										<option value="I2X2">I2X2</option>
										<option value="I1X1">I1X1</option>
										<option value="I1X2">I1X2</option>
										<option value="I1X3">I1X3</option>
										<option value="I1X4">I1X4</option>
									</select>

								</div>
								<div class="form-group">
									<label for="emailStud">Adresă Email</label>
									<input type="email" class="form-control" id="emailStud"
										placeholder="Introduceți email-ul" required>
								</div>
								<div class="form-group">
									<label for="phone_number">Număr de telefon</label>
									<input type="tel" class="form-control" id="phone_number"
										placeholder="Introduceți numărul de telefon" required>
								</div>
								<div class="form-group">
									<label for="passwordStud">Parolă</label>
									<input type="password" class="form-control" id="passwordStud"
										placeholder="Introduceți parola" required>
								</div>
								<div class="form-group">
									<label for="password2Stud">Confirmă Parola</label>
									<input type="password" class="form-control" id="password2Stud"
										placeholder="Confirmați parola" required>
								</div>
								<button type="submit" class="btn btn-primary">Înregistrează-te</button>
								<span class="m-2 color-text-secondary"> sau </span>
								<a href="#" class="color-primary" data-toggle="modal" data-dismiss="modal"
									data-target="#loginModal">Loghează-te</a>
							</form>
						</div>

						<div class="tab-pane" id="profs-register" aria-labelledby="profs-register-tab">
							<form id="profs-registerForm" class="needs-validation" novalidate>
								<div class="form-group">
									<label for="nameProf">Nume</label>
									<input type="text" class="form-control" id="nameProf"
										placeholder="Introduceți numele" required>
								</div>
								<div class="form-group">
									<label for="name2Prof">Prenume</label>
									<input type="text" class="form-control" id="name2Prof"
										placeholder="Introduceți prenumele" required>
								</div>
								<div class="form-group">
									<label for="didactic-degree">Grad Didactic</label>
									<select id="didactic-degree" class="form-control" required>
										<option value="Conferențiar universitar">Conferențiar universitar</option>
										<option value="Lector universitar">Lector universitar</option>
										<option value="Profesor universitar">Profesor universitar</option>
										<option value="Asistent universitar">Asistent universitar</option>
										<option value="Colaborator">Colaborator</option>
									</select>

								</div>
								<div class="form-group">
									<label for="emailProf">Adresă Email</label>
									<input type="email" class="form-control" id="emailProf"
										placeholder="Introduceți email-ul" required>
								</div>
								<div class="form-group">
									<label for="passwordProf">Parolă</label>
									<input type="password" class="form-control" id="passwordProf"
										placeholder="Introduceți parola" required>
								</div>
								<div class="form-group">
									<label for="password2Prof">Confirmă Parola</label>
									<input type="password" class="form-control" id="password2Prof"
										placeholder="Confirmați parola" required>
								</div>
								<button type="submit" class="btn btn-primary">Înregistrează-te</button>
								<span class="m-2 color-text-secondary"> sau </span>
								<a href="#" class="color-primary" data-toggle="modal" data-dismiss="modal"
									data-target="#loginModal">Loghează-te</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#studs-registerForm').submit(function (event) {
		event.preventDefault();

		if (!this.checkValidity()) {
			return;
		}

		let auxGroup = $(this).find('#stud-group').val();
		let studyYear = null, group = null;
		if (auxGroup[0] == "I") {
			studyYear = parseInt(auxGroup[1], 10);
			group = auxGroup.substring(2, 4);
		}
		else if (auxGroup[0] == "M") {
			studyYear = parseInt(auxGroup[3], 10);
			group = auxGroup.substring(1, 3);
		}

		$.ajax({
			url: endpoint + "register",
			type: 'PUT',
			data: {
				registrationNumber: $(this).find('#matricol').val(),
				firstName: $(this).find('#nameStud').val(),
				lastName: $(this).find('#name2Stud').val(),
				email: $(this).find('#emailStud').val(),
				phone_number: $(this).find('#phone_number').val(),
				password: $(this).find('#passwordStud').val(),
				confirm_password: $(this).find('#password2Stud').val(),
				year: studyYear,
				group: group
			}
		}).then(function (data) {
			if (data.status === "error") {
				alert(data.errors[0].message);
			}

			if (data.status === "ok") {
				$('#registerModal').modal('toggle');
			}
		});
	});

	$('#profs-registerForm').submit(function (event) {
		event.preventDefault();

		if (!this.checkValidity()) {
			return;
		}

		$.ajax({
			url: endpoint + "register_professor",
			type: 'PUT',
			data: {
				first_name: $(this).find('#nameProf').val(),
				last_name: $(this).find('#name2Prof').val(),
				professor_type: $(this).find('#didactic-degree').val(),
				email: $(this).find('#emailProf').val(),
				password: $(this).find('#passwordProf').val(),
				confirm_password: $(this).find('#password2Prof').val()
			}
		}).then(function (data) {
			if (data.status === "error") {
				alert(data.errors[0].message);
			}

			if (data.status === "ok") {
				$("#registerModal").modal('toggle');
			}
		});
	});

</script>