<div class="modal sign-modal fade scroll-modal" id="registerModal" tabindex="-1" role="dialog"
	aria-labelledby="registerModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<div class="header">
					<h6 class="over-title">Bun venit pe FiiStudent!</h6>
					<h2 class="title">Inregistreaza-te</h2>
				</div>
				<div class="content">
					<form id="registerForm">
						<div class="form-group">
							<label for="name">Nume</label>
							<input type="text" class="form-control" id="name" placeholder="Introduceti numele">
						</div>
						<div class="form-group">
							<label for="name2">Prenume</label>
							<input type="text" class="form-control" id="name2" placeholder="Introduceti prenumele">
						</div>
						<div class="form-group">
							<label for="matricol">Numar Matricol</label>
							<input type="text" class="form-control" id="matricol"
								placeholder="Introduceti numarul matricol">
						</div>
						<div class="form-group">
							<label for="stud-group">An/Grupa</label>
							<select id="stud-group">
								<option value="MOC1">MOC1</option>
								<option value="MOC2">MOC2</option>
								<option value="MIS2">MIS2</option>
								<option value="MSD2">MSD2</option>
								<option value="MLC1">MLC1</option>
								<option value="MLC2">MLC2</option>
								<option value="MSI1">MSI1</option>
								<option value="MSI2">MSI2</option>

								<option value="I1A1">I1A1</option>
								<option value="I1A2">I1A2</option>
								<option value="I1A3">I1A3</option>
								<option value="I1A4">I1A4</option>
								<option value="I1A5">I1A5</option>
								<option value="I1A6">I1A6</option>
								<option value="I1A7">I1A7</option>
								<option value="I1B1">I1B1</option>
								<option value="I1B2">I1B2</option>
								<option value="I1B3">I1B3</option>
								<option value="I1B4">I1B4</option>
								<option value="I1B5">I1B5</option>
								<option value="I1B6">I1B6</option>
								<option value="I1B7">I1B7</option>
								<option value="I1E1">I1E1</option>
								<option value="I1E2">I2E2</option>
								<option value="I2A1">I2A1</option>
								<option value="I2A2">I2A2</option>
								<option value="I2A3">I2A3</option>
								<option value="I2A4">I2A4</option>
								<option value="I2A5">I2A5</option>
								<option value="I2A6">I2A6</option>
								<option value="I2A7">I2A7</option>
								<option value="I2B1">I2B1</option>
								<option value="I2B2">I2B2</option>
								<option value="I2B3">I2B3</option>
								<option value="I2B4">I2B4</option>
								<option value="I2B5">I2B5</option>
								<option value="I2B6">I2B6</option>
								<option value="I2B7">I2B7</option>
								<option value="I2E1">I2E1</option>
								<option value="I2E2">I2E2</option>
								<option value="I3A1">I3A1</option>
								<option value="I3A2">I3A2</option>
								<option value="I3A3">I3A3</option>
								<option value="I3A4">I3A4</option>
								<option value="I3A5">I3A5</option>
								<option value="I3A6">I3A6</option>
								<option value="I3A7">I3A7</option>
								<option value="I3B1">I3B1</option>
								<option value="I3B2">I3B2</option>
								<option value="I3B3">I3B3</option>
								<option value="I3B4">I3B4</option>
								<option value="I3B5">I3B5</option>
								<option value="I3B6">I3B6</option>
								<option value="I3B7">I3B7</option>
								<option value="I3E1">I3E1</option>
								<option value="I3E2">I3E2</option>
								<option value="I2X1">I2X1</option>
								<option value="I2X2">I2X2</option>
								<option value="I1X1">I1X1</option>
								<option value="I1X2">I1X2</option>
								<option value="I1X3">I1X3</option>
								<option value="I1X4">I1X4</option>
							</select>
							
						</div>
						<div class="form-group">
							<label for="email">Adresa Email</label>
							<input type="email" class="form-control" id="email" placeholder="Introduceti email-ul">
						</div>
						<div class="form-group">
							<label for="username">Nume de utilizator</label>
							<input type="text" class="form-control" id="username" placeholder="Introduceti numele de utilizator">
						</div>
						<div class="form-group">
							<label for="password">Parola</label>
							<input type="password" class="form-control" id="password" placeholder="Introduceti parola">
						</div>
						<div class="form-group">
							<label for="password">Confirma Parola</label>
							<input type="password" class="form-control" id="password2" placeholder="Confirmati parola">
						</div>
						<button type="submit" class="btn btn-primary">Inregistreaza-te</button>
						<span class="m-2 color-text-secondary"> sau </span>
						<a href="#" class="color-primary" data-toggle="modal" data-dismiss="modal"
							data-target="#loginModal">Logheaza-te</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	const endpoint = "https://develop-dot-fii-student.appspot.com/";
	$('#registerForm').submit(function(event) {
		event.preventDefault();
		let auxGroup = $(this).find('#stud-group');
		let studyYear = null, group = null;
		if(auxGroup[0]=="I"){
			studyYear = parseInt(auxGroup[1],10);
			group = auxGroup.substring(2,3);
		}
		else if(auxGroup[0]=="M"){
			studyYear = parseInt(auxGroup[3],10);
			group = auxGroup.substring(1,2);
		}
		$.ajax({
			url: endpoint + "register",
			data: {
				registrationNumber: $(this).find('#matricol').val(),
				firstName: $(this).find('#name').val(),
				lastName: $(this).find('#name2').val(),
				email: $(this).find('#email').val(),
				password: $(this).find('#password').val(),
				confirm_password: $(this).find('#password2').val(),
				year: studyYear,
				group: group

			}
		}).then(function (data) {
			if(data.status === "error") {
				alert(data.errors[0].message);
			}
			if(data.status === "ok") {
				alert('Success!');
			}
		});
	});
</script>