<div class="modal sign-modal fade" id="resetpassModal" tabindex="-1" role="dialog" aria-labelledby="resetpassModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="header">
					<h5 class="over-title">Resetare parolă</h5>
				</div>
				<div class="content">
					<div class="sub-title">
						<h4>Alege o combinație de litere, cifre și alte caractere pentru o siguranță mai mare a
							datelor.</h4>
					</div>
					<form>
						<div class="form-group">
							<label for="password">Parolă</label>
							<input type="password" class="form-control" id="password" placeholder="Introduceți parola">
						</div>
						<div class="form-group">
							<label for="password">Confirmă parola</label>
							<input type="password" class="form-control" id="password" placeholder="Confirmați parola">
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-block btn-lg" value="Schimbă parola">
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>