<div class="modal sign-modal fade" id="resetpassModal" tabindex="-1" role="dialog" aria-labelledby="resetpassModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h5 class="over-title">Resetare parola</h5>
				</div>
				<div class="content">
					<div class="sub-title">
						<h4> Alege o combinatie de litere, cifre si alte caractere pentru o siguranta mai mare a
							datelor.</h4>
					</div>
					<form>
						<div class="form-group">
							<label for="password">Parola</label>
							<input type="password" class="form-control" id="password" placeholder="Introduceti parola">
						</div>
						<div class="form-group">
							<label for="password">Confirma parola</label>
							<input type="password" class="form-control" id="password" placeholder="Confirmati parola">
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-block btn-lg" value="schimba parola">
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>