<div class="modal sign-modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<div class="header">
					<h6 class="over-title">Detalii despre</h6>
					<h2 class="title">--Materie--</h2>
				</div>
				<div class="content text-center">
					<div class="text-black-50 text-left"><small>NUME PROFESOR</small></div>
					<h5 class="text-primary text-left">Nume Prenume</h5>
					<hr class="my-3">
					<div class="text-black-50 text-left"><small>CONTACT PROFESOR</small></div>
					<h5 class="text-primary text-left">profesor@profs.info.uaic.ro</h5>
					<hr class="my-3">
					<div class="text-black-50 text-left"><small>SITE</small></div>
					<h5 class="text-primary text-left"><a href="">www.profesor.info.uaic.ro</a></h5>
					<hr class="my-3">
					<div class="text-black-50 text-left"><small>NUMAR CREDITE</small></div>
					<h5 class="text-primary text-left">6</h5>
					<hr class="my-3">
					<div class="text-black-50 text-left"><small>LINK-URI UTILE</small></div>
					<h5 class="text-primary text-left"><a href="">www.google.ro</a></h5>
					<hr class="my-3">

					<button class="btn btn-primary row mt-4">Email rapid</button>
				</div>
			</div>
		</div>
	</div>
</div>