<div class="modal sign-modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<div class="header">
					<h6 class="over-title">Detalii despre</h6>
					<h2 class="title" id="nume-materie"></h2>
				</div>
				<div class="content">
					<form id="feedbackForm" novalidate>
						<div class="form-group">
							<label for="prof-name">Nume Profesor</label>
							<h5 class="text-primary text-left border-bottom" id="profs-name"></h5>
						</div>
						<!-- <div class="form-group">
							<label for="profs-contact">Contact Profesor</label>
							<h5 class="text-primary text-left border-bottom" id="profs-contact"></h5>
						</div> -->
						<div class="form-group" id="course-site-div">
							<label for="course-site">Site Curs</label>
							<h5 class="text-primary text-left border-bottom" id="course-site"></h5>
						</div>
						<div class="form-group" id="course-credits-div">
							<label for="course-credits">Număr credite</label>
							<h5 class="text-primary text-left border-bottom" id="course-credits"></h5>
						</div>
						<div class="form-group" id="course-link-div">
							<label for="util-link">Link-uri Utile</label>
							<h5 class="text-primary text-left border-bottom" id="util-link"></h5>
						</div>

						<div class="form-inline">
							<label for="stars">Dă-i o notă acestui profesor: </label>
							<section class="ml-0 pt-3" id="stars" name="stars">
								<div class="rating-stars text-center">
									<ul id="stars">
										<li class="star d-inline" title="Nu-mi place" data-value="1">
											<i class="fa fa-star fa-fw"></i>
										</li>
										<li class="star d-inline" title="Acceptabil" data-value="2">
											<i class="fa fa-star fa-fw"></i>
										</li>
										<li class="star d-inline" title="Destul de bun" data-value="3">
											<i class="fa fa-star fa-fw"></i>
										</li>
										<li class="star d-inline" title="Bun" data-value="4">
											<i class="fa fa-star fa-fw"></i>
										</li>
										<li class="star d-inline" title="Foarte bun!" data-value="5">
											<i class="fa fa-star fa-fw"></i>
										</li>
									</ul>
								</div>
							</section>

							<div class="success-box">
								<div class="text-message text-primary"></div>
							</div>
						</div>

						<div class="form-group">
							<label for="feedback">Mesaj de Feedback</label>
							<textarea type="text" rows="4" class="form-control" id="feedback" name="feedback"
								placeholder="Introduceți feedback..." required></textarea>
						</div>

						<button type="submit" class="btn btn-primary">Trimite</button>
						<span class="m-2 color-text-secondary"> sau </span>
						<a href="#" class="color-primary" data-toggle="modal" data-dismiss="modal"
							data-target="#quickEmailModal">Email</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {

		$('#stars li').on('mouseover', function () {
			var onStar = parseInt($(this).data('value'), 10);

			$(this).parent().children('li.star').each(function (e) {
				if (e < onStar) {
					$(this).addClass('hover');
				}
				else {
					$(this).removeClass('hover');
				}
			});

		}).on('mouseout', function () {
			$(this).parent().children('li.star').each(function (e) {
				$(this).removeClass('hover');
			});
		});

		$('#stars li').on('click', function () {

			var onStar = parseInt($(this).data('value'), 10);
			var stars = $(this).parent().children('li.star');

			for (i = 0; i < stars.length; i++) {
				$(stars[i]).removeClass('selected');
			}

			for (i = 0; i < onStar; i++) {
				$(stars[i]).addClass('selected');
			}

			var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
			var msg = "";
			if (ratingValue == 1) {
				msg = "Mulțumim! Ai notat acest profesor o stea.";
			}
			else {
				msg = "Mulțumim! Ai notat acest profesor cu " + ratingValue + " stele.";
			}

			$(".success-box").show();
			responseMessage(msg);
		});
	});

	function responseMessage(msg) {
		$('.success-box').fadeIn(150);
		$('.success-box div.text-message').html("<span class='text-primary'>" + "<i class='fa fa-check-circle' aria-hidden='true'></i> " + msg + "</span>");
	}
</script>

<script>
	function resolveModal(cid, professor, id) {

		$.ajax({
			url: endpoint + 'course',
			type: "GET",
			contentType: "application/json, charset=utf-8",
			dataType: "json",
			data: {
				course_id: cid
			},
			beforeSend: function (xhr) {
				xhr.setRequestHeader('Authorization', 'Bearer ' + sessionStorage.getItem("accessToken"));
			},
		}).then(function (data) {


			//console.log("enter modal");
			$("#nume-materie").text(data.course_info.title);
			$("#course-credits").text(data.course_info.credits);
			$("#course-site").html("<a href=\"" + data.course_info.link + "\"  style='text-decoration: none;'>Click aici!</a>");
			$("#util-link").html("<a href=\"" + data.course_info.fisa + "\" style='text-decoration: none;'>Click aici!</a>");
			$("#profs-name").text(professor);
			/* $("#profs-contact").html("<a href=\"" + profs[1].link + "\" style='text-decoration: none;'>Click aici!</a>") */
			if (data.course_info.credits)
				$("#course-credits").text(data.course_info.credits);
			else
				$("#course-credits-div").attr("style", "display:none;");
			if (data.course_info.link)
				$("#course-site").html("<a href=\"" + data.course_info.link + "\"  style='text-decoration: none;'>Click aici!</a>");
			else
				$("#course-site-div").attr("style", "display:none;");
			if (data.course_info.fisa)
				$("#util-link").html("<a href=\"" + data.course_info.fisa + "\" style='text-decoration: none;'>Click aici!</a>");
			else
				$("#course-link-div").attr("style", "display:none;");

		});


		$('#detailsModal').submit(function (event) {
			event.preventDefault();

			let ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);

			$.ajax({
				url: endpoint + "feedback",
				method: 'POST',
				beforeSend: function (xhr) {
					xhr.setRequestHeader('Authorization', 'Bearer ' + sessionStorage.getItem("accessToken"));
				},
				data: {
					schedule_class_id: id,
					stars: ratingValue,
					feedback: $(this).find('#feedback').val()
				}
			}).then(function (data) {
				if (data.status === "error") {
					alert(data.errors[0].message);
				}
				else
					if (data.status == 'ok') {
						alert('Feedback trimis! :)');
					}
			});
		});
	};
</script>

${require('../modals/quick-email.modal.html')}