<div class="container-fluid  background-dark align-content-sm-center pageFooter">
	<div
		class="d-flex justify-content-center align-content-center align-content-md-center align-items-start flex-md-column flex-xs-column flex-lg-row flex-sm-column justify-content-md-center flex-wrap m-auto">
		<div class="p-1 m-2 ml-lg-5 pl-lg-5 flex-fill flex-lg-fill flex-xl-fill  justify-content-sm-start ml-sm-0 pl-sm-0">
			<img src="../../../assets/img/logoEditat2.png" alt="logo">
			<p class="ml-2"> Facut de studenti pentru studenti</p>
		</div>
		<div class="p-1 m-2 mt-4 flex-fill flex-lg-fill flex-xl-fill" >
			<h5 class="text-left "><strong>Link-uri utile</strong></h5>
			<ul>
				<li class="text-left"><a href="#"> Despre noi </a></li>
				<li class="text-left"><a href="#"> Contacteaza-ne</a></li>
			</ul>
		</div>
		<div class="p-1 m-2 mt-4 flex-fill flex-lg-fill flex-xl-fill" >
			<h5 class="text-left"><strong> fiistudent.ro</strong></h5>
			<ul>
				<li class="text-left"><a href="#"> Termeni si conditii</a></li>
				<li class="text-left"><a href="#"> Prelucrarea datelor cu caracter personal</a></li>
				<li class="text-left"><a href="#"> Politica de utilizare Cookie-uri</a></li>
			</ul>
		</div>
	</div>


	<div class=" p-4 d-flex flex-wrap  justify-content-between footer2">
		<div class="media mr-2 pr-2">
			<div class="media-left mr-3 mt-1">
				 <i class="fas fa-map-marker-alt"> </i>
			</div>
			<div class="media-body">
				<h5>Iasi, Romania</h5>
				<p>online support</p>
			</div>
		</div>

		<div class="media mr-2 pr-2">
			<div class="media-left mr-3 mt-1">
				<i class="fas fa-mobile-alt"></i>
			</div>
			<div class="media-body">
				<h5>0722 222 222</h5>
				<p>Administrator</p>
			</div>
		</div>

		<div class="media">
			<div class="media-left mr-3 mt-1">
				<i class="fas fa-envelope-open-text"></i>
			</div>
			<div class="media-body">
				<h5>fiistudent@info.uaic.ro</h5>
				<p>online support</p>
			</div>
		</div>


	</div>

	<div class="footer_bottom_two">
		<div class="container">
			<div class="d-flex justify-content-between">
				<div class="p-2 m-2">
					<p>© 2019 All Rights Reserved FiiStudent B3</p>
				</div>


				<div class="social_footer">
					<ul class="d-flex flex-lg-row  flex-wrap">
						<li class="follow_text p-2 m-2">Follow Us</li>
						<li class="p-2 m-2 "><a target="_blank" href="#"><i class="fab fa-facebook"></i></a></li>
						<li class="p-2 m-2 "><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="p-2 m-2 "><a target="_blank" href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="p-2 m-2 "><a target="_blank" href="#"><i class="fab fa-git"></i></a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>