<div class="border-right" id="sidebar-wrapper">
	<div class="sidebar-heading">
		<img src="https://via.placeholder.com/150" class="profile-picture" alt="profile-pic" />
		<p class="name">Ursaciuc Adrian</p>
	</div>
	<div class="list-group list-group-flush">
		<a href="dashboard.html" class="list-group-item list-group-item-action ch"><i class="fas fa-columns"></i>Panou principal</a>
		<a href="#ads_category" class="list-group-item list-group-item-action dropdown-toggle ch" data-toggle="collapse" aria-expanded="false"><i class="fas fa-rss"></i>Anunțuri</a>
		<ul class="collapse list-unstyled pl-3" id="ads_category">
			<li>
				<a href="anounces.html" class="list-group-item list-group-item-action ch">Anunțuri noi</a>
			</li>
			<li>
				<a href="license-exams.html" class="list-group-item list-group-item-action ch">Examene de licență</a>
			</li>
			<li>
				<a href="dissertation-exams.html" class="list-group-item list-group-item-action ch">Examene de disertație</a>
			</li>
		</ul>

		<a href="free-rooms.html" class="list-group-item list-group-item-action ch"><i class="fas fa-door-closed"></i>Săli libere</a>
		<a href="schedule.html" class="list-group-item list-group-item-action ch"><i class="fas fa-calendar"></i>Orar</a>
		<a href="subjects.html" class="list-group-item list-group-item-action ch"><i class="fas fa-book"></i>Materii</a>
		<a href="teachers.html" class="list-group-item list-group-item-action ch"><i class="fas fa-user-graduate"></i>Profesori</a>
		<a href="notifications.html" class="list-group-item list-group-item-action ch"><i class="fas fa-bell"></i>Notificari</a>

		<a href="javascript:void(0)" class="list-group-item list-group-item-action" onclick="logOut()"><i class="fas fa-sign-out-alt"></i>Deconectează-te</a>		
	</div>
</div>
