<div class="border-right" id="sidebar-wrapper">
	<div class="sidebar-heading">
		<img src="https://via.placeholder.com/150" class="profile-picture" alt="profile-pic" />
		<p class="name">Ursaciuc Adrian</p>
	</div>
	<div class="list-group list-group-flush">
		<a href="dashboard.html" class="list-group-item list-group-item-action"><i class="fas fa-columns"></i>Panou principal</a>
		<a href="anounces.html" class="list-group-item list-group-item-action"><i class="fas fa-rss"></i>Anunturi</a>
		<a href="free-rooms.html" class="list-group-item list-group-item-action"><i class="fas fa-door-closed"></i>Sali libere</a>
		<a href="schedule.html" class="list-group-item list-group-item-action"><i class="fas fa-calendar"></i>Orar</a>
		<a href="subjects.html" class="list-group-item list-group-item-action"><i class="fas fa-book"></i>Materii</a>
		<a href="teachers.html" class="list-group-item list-group-item-action"><i class="fas fa-user-graduate"></i>Profesori</a>
		<a href="javascript:void(0)" class="list-group-item list-group-item-action" onclick="logOut()"><i class="fas fa-sign-out-alt"></i>Deconecteaza-te</a>		
	</div>
</div>