<div class="container-fluid">
	<div class="container">
		<div class="section">
			<!--<h6 class="over-title">Contactează-ne</h6>
			<h2 class="title">Get In Touch</h2>-->
			<h2 class="title">Contactează-ne</h2>
			<div class="content">
				<div class="row">
					<div class="col-md-3 ">
						<div class="location">
							<i class="fas fa-map-marker-alt fa-2x"></i>
							<div>
								<p class="loc">Locație</p>
								<p class="description1">Bd. Tudor Vladimirescu nr.32, Iași</p>
							</div>
						</div>
						<div class="phoneNumber">
							<i class="fas fa-phone mt-4 fa-2x"></i>
							<div>
								<p class="phNumber">Număr de telefon</p>
								<p class="description2">Birou: +4 0745 378 445</p>
							</div>
						</div>
						<div class="emailSupport">
							<i class="fas fa-envelope mt-4 fa-2x"></i>
							<div>
								<p class="emSupport">E-mail</p>
								<p class="description3">fiistudent@gmail.com</p>
							</div>
						</div>
					</div>
					<form>
						<div class="row">
							<div class="col-md-6">
								<input type="text" id="name1" name="name1" class="form-control form-control-lg" placeholder="Nume">
							</div>
							<div class="col-md-6">
								<input type="text" id="name2" name="name2" class="form-control form-control-lg" placeholder="Prenume">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<input type="text" id="subject" name="subject" class="form-control form-control-lg" placeholder="Subiect">
							</div>
							<div class="col-md-6">
								<input type="text" id="email" name="email" class="form-control form-control-lg" placeholder="E-mail">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<textarea type="text" id="message" name="message" rows="4" class="form-control md-textarea" placeholder="Mesaj"></textarea>
							</div>
						</div>
						<button type="submit" class="btn btn-primary" id="btn_msg">Trimite</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
