<nav id="sidebar">
    <div class="sidebar-header">
        <img class=" m-auto" src="../../assets/img/user.jpg" alt="user">
        <p class="text-center">Tuxy Pinguinescool</p>
        <button class="d-block m-auto"> <i class="fas fa-sign-out-alt d-block m-auto"></i> </button>
    </div>
    <ul class="list-unstyled components">
        <p>Dashboard</p>
        <li class="pl-2">
                <i class="fas fa-search d-inline-block"></i>
            <a class="d-inline-block" href="free-rooms.html">Cauta o sala</a>
        </li>
        <li class="pl-2">
                <i class="fas fa-book d-inline-block"></i>
            <a class="d-inline-block" href="subjects.html">Materii</a>
        </li>
        <li class="pl-2">
                <i class="fas fa-chalkboard-teacher d-inline-block mr-1"></i>
            <a class="d-inline-block" href="teachers.html">Profesori</a>
        </li>
        <li class="pl-2">
                <i class="fas fa-calendar-alt d-inline-block"></i>
            <a class="d-inline-block" href="schedule.html"> Orar </a>
        </li>
        <li class="pl-2">
                <i class="fas fa-cog d-inline-block"></i>
            <a class="d-inline-block" href="settings.html"> Setari </a>
        </li>
        

    </ul>
</nav>