<nav id="sidebar">
        <div class="sidebar-header">
            
            <img class=" m-auto" src="../../assets/img/user.jpg" alt="user">
            <p class="text-center">Tuxy Pinguinescool</p>
           <button class="d-block m-auto"> <i class="fas fa-sign-out-alt d-block m-auto"></i> </button>
        </div>
        
        
        <ul class="list-unstyled components">
            <p>Dashboard</p>
            <li>
                    <a href="free-rooms.html">Cauta o sala</a>
                </li>
                <li>
                        <a href="subjects.html">Materii</a>
                    </li>
                    <li>
                            <a href="teachers.html">Profesori</a>
                        </li>
                        <li>
                                 <a href="#"> Setari </a>
                        </li>
                        
        </ul>
    </nav>