<div class="container-fluid background-fade" id="team">
	<div class="container">
		<div class="section">
			<h6 class="over-title">Cine suntem noi?</h6>
			<h2 class="title">Întreaga noastră echipă</h2>
			<div class="content">
				<div class="team">
					<div class="row">
						<span class="team-title">Administrare</span>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Administrare/Andrei.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Bîcu Andrei-Ionel</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Administrare/Marius.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Roman Marius-George</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="team">
					<div class="row">
						<span class="team-title">Frontend</span>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Frontend/Anghel Cristi.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Anghel Marius-Cristi</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Frontend/Botez MIhai.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Botez Mihai</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Frontend/Razvan Ciomaga.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Ciomaga Nicolae-Răzvan</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Frontend/Bianca.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Ciuraru Bianca</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Frontend/AlexandruIchim.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Ichim Alexandru</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Frontend/Nechita Ramona.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Nechita Ramona-Maria</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Frontend/RuginaRares.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Rugină Rareș-Teodor</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Frontend/Ana.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Țigănescu Ana</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Frontend/Ursaciuc Adrian.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Ursaciuc Adrian</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Frontend/AlexandruVulpe.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Vulpe Alexandru-Cătălin</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="team">
					<div class="row">
						<span class="team-title">Backend</span>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Backend/Irina.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Bejan Irina-Mădălina</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Backend/Cristian Dragomir.jpg"
										alt="Member" />
								</div>
								<h3 class="member-name">Dragomir Cristian</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Backend/Costi.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Listar Constantin</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Backend/Dana.png" alt="Member" />
								</div>
								<h3 class="member-name">Păduraru Dana</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Backend/Valentin.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Pînzaru Valentin</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Backend/Alexandru.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Ştefan Alexandru</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/Backend/Andreea Vatamanelu.jpg"
										alt="Member" />
								</div>
								<h3 class="member-name">Vătămănelu Andreea</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="team">
					<div class="row">
						<span class="team-title">QA</span>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/QA/Cosmin.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Bărbăscu Cosmin-George</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/QA/Lucian.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Cuberschi Lucian-Alexandru</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/QA/Andrada.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Popovici Andrada-Iuliana</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/QA/Sidorencu Mihnea-Ștefan.png"
										alt="Member" />
								</div>
								<h3 class="member-name">Sidorencu Mihnea-Ștefan</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="member">
								<div class="member-img">
									<img src="../../assets/img/team-photos/QA/Rares Trufin.jpg" alt="Member" />
								</div>
								<h3 class="member-name">Trufin Rareș-Octavian</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>