<div class="container-fluid background-primary">
		<style>ul.horizontal-slide {
				margin: 0;
				padding: 0;
				width: 100%;
				white-space: nowrap;
				overflow-x: auto;
				
			}
			
			
			ul.horizontal-slide li[class*="col"] {
				display: inline-block;
				float: none;
			}
			.thumbnail {
				border-radius: 3%;

			}
			ul.horizontal-slide li[class*="col"]:first-child {
				
			}
			.col-md-2 h3 {
				font-size:35px;
			}
			ul h3 {
				color:white;
			}
			ul p {
				color:black;
			}
			</style>
	<div class="container">
		<div class="section section-inverted">
			<h6 class="over-title">WHO WE ARE ?</h6>
			<h2 class="title">Our Exclusive Team</h2>
			<div class="content">
				<div class="container" style="background-color: none; "> 
					<div class="row">
						
						<div class="col-md-12" style="width: 20%;" >
						  <ul class="horizontal-slide">
							<li class="col-md-2"><img class="thumbnail" src="http://placehold.it/100x100" width="120%" />
							<h3>Front-End</h3>
							<p>Nume</p>
						    <p>Prenume</p>
						</li>
							<li class="col-md-2"><img class="thumbnail" src="http://placehold.it/100x100" width="120%"/>
								<h3>Front-End</h3>
							<p>Nume</p>
						    <p>Prenume</p>
							</li>
							<li class="col-md-2"><img class="thumbnail" src="http://placehold.it/100x100" width="120%"/>
								<h3>Front-End</h3>
								<p>Nume</p>
								<p>Prenume</p></li>
							<li class="col-md-2"><img class="thumbnail" src="http://placehold.it/100x100" width="120%"/>
								<h3>Front-End</h3>
								<p>Nume</p>
								<p>Prenume</p></li>
							<li class="col-md-2"><img class="thumbnail" src="http://placehold.it/100x100" width="120%"/>
								<h3>Front-End</h3>
								<p>Nume</p>
								<p>Prenume</p></li>
							<li class="col-md-2"><img class="thumbnail" src="http://placehold.it/100x100" width="120%"/>
								<h3>Front-End</h3>
								<p>Nume</p>
								<p>Prenume</p></li>
							<li class="col-md-2"><img class="thumbnail" src="http://placehold.it/100x100" width="120%"/>
								<h3>Front-End</h3>
								<p>Nume</p>
								<p>Prenume</p></li>
						  </ul>
					  </div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>