<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>FII Student</title>
</head>

<body>
	
	<%= require('html-loader!./pages/partials/shared/navbar.html') %>
	<%= require('html-loader!./pages/partials/hero.html') %>
	<%= require('html-loader!./pages/partials/about.html') %>
	<%= require('html-loader!./pages/partials/team.html') %>
	<%= require('html-loader!./pages/partials/services.html') %>
	<%= require('html-loader!./pages/partials/contact.html') %>
	<%= require('html-loader!./pages/partials/shared/footer.html') %>

	<!-- Login Modal -->
	<div class="modal sign-modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
						<div class="header"> 
							<h6 class="over-title">Welcome back</h6>
							<h2 class="title">Log In</h2>
						</div>
						<div class="content">
							<form>
								<div class="form-group">
									<label for="email">Email address</label>
									<input type="email" class="form-control" id="email" placeholder="Enter email">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" id="password" placeholder="Password">
								</div> 
								<p><a href="#" class="color-primary">Forgot password? </a></p>
								<button type="submit" class="btn btn-primary">Log In</button>
								<span class="m-2 color-text-secondary"> or </span>
								<a href="#" class="color-primary" data-toggle="modal" data-dismiss="modal" data-target="#registerModal">Register</a>
							</form>
						</div>
				</div>
			</div>
		</div>
	</div>

	<!--Register Modal-->
	<div class="modal sign-modal fade scroll-modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
						<div class="header"> 
							<h6 class="over-title">Bun venit pe FiiStudent!</h6>
							<h2 class="title">Inregistreaza-te</h2>
						</div>
						<div class="content">
							<form>
								<div class="form-group">
									<label for="name">Nume</label>
									<input type="text" class="form-control" id="name" placeholder="Introduceti numele">
								</div>
								<div class="form-group">
									<label for="name2">Prenume</label>
									<input type="text" class="form-control" id="name2" placeholder="Introduceti prenumele">
								</div>
								<div class="form-group">
									<label for="matricol">Numar Matricol</label>
									<input type="text" class="form-control" id="matricol" placeholder="Introduceti numarul matricol">
								</div>
								<div class="form-group">
									<label for="email">Adresa Email</label>
									<input type="email" class="form-control" id="email" placeholder="Introduceti email-ul">
								</div>
								<div class="form-group">
									<label for="password">Parola</label>
									<input type="password" class="form-control" id="password" placeholder="Introduceti parola">
								</div> 
								<div class="form-group">
									<label for="password">Confirma Parola</label>
									<input type="password" class="form-control" id="password" placeholder="Confirmati parola">
								</div> 
								<button type="submit" class="btn btn-primary">Inregistreaza-te</button>
								<span class="m-2 color-text-secondary"> sau </span>
								<a href="#" class="color-primary" data-toggle="modal" data-dismiss="modal" data-target="#loginModal">Log In</a>
							</form>
						</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>