<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<title>FII Student</title>

</head>

<body>

	<%= require('html-loader!./pages/partials/shared/navbar.html') %>
	<%= require('html-loader!./pages/partials/hero.html') %>
	<%= require('html-loader!./pages/partials/about.html') %>
	<%= require('html-loader!./pages/partials/team.html') %>
	<%= require('html-loader!./pages/partials/services.html') %>
	<%= require('html-loader!./pages/partials/contact.html') %>
	<%= require('html-loader!./pages/partials/shared/footer.html') %>


	<!-- Login Modal -->

	<div class="modal sign-modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">

					<div class="header">
						<h6 class="over-title">Welcome back</h6>
						<h2 class="title">Log In</h2>
					</div>
					<div class="content">
						<form>
							<div class="form-group">
								<label for="email">Email address</label>
								<input type="email" class="form-control" id="email" placeholder="Enter email">
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="password" placeholder="Password">
							</div>
							<div class="text-center">
								<a href="#forgotpassModal" id="fgpsd" class="color-primary" data-dismiss="modal"
									data-toggle="modal">Mi-am
									uitat parola</a>
							</div>
							<button type="submit" class="btn btn-primary">Log In</button>
							<span class="m-2 color-text-secondary"> or </span>
							<a href="#" class="color-primary" data-toggle="modal" data-dismiss="modal"
								data-target="#registerModal">Register</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Register Modal-->
	<div class="modal sign-modal fade scroll-modal" id="registerModal" tabindex="-1" role="dialog"
		aria-labelledby="registerModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">

					<div class="header">
						<h6 class="over-title">Bun venit pe FiiStudent!</h6>
						<h2 class="title">Inregistreaza-te</h2>
					</div>
					<div class="content">
						<form>
							<div class="form-group">
								<label for="name">Nume</label>
								<input type="text" class="form-control" id="name" placeholder="Introduceti numele">
							</div>
							<div class="form-group">
								<label for="name2">Prenume</label>
								<input type="text" class="form-control" id="name2" placeholder="Introduceti prenumele">
							</div>
							<div class="form-group">
								<label for="matricol">Numar Matricol</label>
								<input type="text" class="form-control" id="matricol"
									placeholder="Introduceti numarul matricol">
							</div>
							<div class="form-group">
									<label for="stud-group">Grupa</label>
									<select id="stud-group">
											<option value="A1">A1</option>
											<option value="A2">A2</option>
											<option value="A3">A3</option>
											<option value="A4">A4</option>
											<option value="A5">A5</option>
											<option value="A6">A6</option>
											<option value="A7">A7</option>
											<option value="B1">B1</option>
											<option value="B2">B2</option>
											<option value="B3">B3</option>
											<option value="B4">B4</option>
											<option value="B5">B5</option>
											<option value="B6">B6</option>
											<option value="B7">B7</option>
											<option value="E1">E1</option>
											<option value="E2">E2</option>
									</select>
									<label for="stud-year" class="year-label">An</label>
									<select id="stud-year">
											<option value="I">I</option>
											<option value="II">II</option>
											<option value="III">III</option>
									</select>
							</div>
							<div class="form-group">
								<label for="email">Adresa Email</label>
								<input type="email" class="form-control" id="email" placeholder="Introduceti email-ul">
							</div>
							<div class="form-group">
								<label for="password">Parola</label>
								<input type="password" class="form-control" id="password"
									placeholder="Introduceti parola">
							</div>
							<div class="form-group">
								<label for="password">Confirma Parola</label>
								<input type="password" class="form-control" id="password"
									placeholder="Confirmati parola">
							</div>
							<button type="submit" class="btn btn-primary">Inregistreaza-te</button>
							<span class="m-2 color-text-secondary"> sau </span>
							<a href="#" class="color-primary" data-toggle="modal" data-dismiss="modal"
								data-target="#loginModal">Logheaza-te</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal Forgot Password -->

	<div class="modal sign-modal fade" id="forgotpassModal" tabindex="-1" role="dialog"
		aria-labelledby="forpassModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h5 class="over-title">Mi-am uitat parola</h5>
						<h3 class="title">Reseteaza parola</h3>
					</div>
					<div class="content">
						<div class="sub-title">
							<h4>Introdu adresa de email si vei primi toate detaliile de resetare a parolei.</h4>
						</div>
						<form>
							<div class="form-group">

								<label for="email">Adresa email</label>
								<input type="email" class="form-control" id="email" placeholder="Introduceti email-ul">
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-primary btn-block btn-lg" value="trimite  email">
							</div>
							<div class="form-group">
								<p>Ai deja cont?<a href="#loginModal" data-toggle="modal" data-dismiss="modal"
										class="color-primary"> Log In </a></p>
								<p>Utilizator nou ?<a href="#registerModal" data-toggle="modal" data-dismiss="modal"
										class="color-primary">Inregistreaza-te</a></p>
								<p><a href="#resetpassModal" class="color-primary" data-dismiss="modal"
										data-toggle="modal">Parola Noua </a>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Reset Password -->

	<div class="modal sign-modal fade" id="resetpassModal" tabindex="-1" role="dialog"
		aria-labelledby="resetpassModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h5 class="over-title">Resetare parola</h5>
					</div>
					<div class="content">
						<div class="sub-title">
							<h4> Alege o combinatie de litere, cifre si alte caractere pentru o siguranta mai mare a
								datelor.</h4>
						</div>
						<form>
							<div class="form-group">
								<label for="password">Parola</label>
								<input type="password" class="form-control" id="password"
									placeholder="Introduceti parola">
							</div>
							<div class="form-group">
								<label for="password">Confirma parola</label>
								<input type="password" class="form-control" id="password"
									placeholder="Confirmati parola">
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-primary btn-block btn-lg" value="schimba parola">
							</div>

						</form>

					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>