<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<title>FII Student</title>
</head>

<body>

	<%= require('html-loader!./pages/partials/shared/navbar.html') %>
	<%= require('html-loader!./pages/partials/shared/page-header.html') %>

	<div class="container-fluid">
		<div class="container">
			<div class="section">
				<div class="content">
					<table class="table schedule">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Luni</th>
								<th scope="col">Marti</th>
								<th scope="col">Miercuri</th>
								<th scope="col">Joi</th>
								<th scope="col">Vineri</th>
								<th scope="col">Sambata</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">8:00 - 10:00</th>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
								<td><div class="object course" data-toggle="modal" data-target="#detailsModal">PSGBD</div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
							</tr>
							<tr>
								<th scope="row">10:00 - 12:00</th>
								<td><div class="object"></div></td>
								<td><div class="object course" data-toggle="modal" data-target="#detailsModal" >IP</div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
								<td><div class="object seminary" data-toggle="modal" data-target="#detailsModal" >LE</div></td>
								<td><div class="object"></div></td>
							</tr>
							<tr>
								<th scope="row">12:00 - 14:00</th>
								<td><div class="object course" data-toggle="modal" data-target="#detailsModal" >MCM</div></td>
								<td><div class="object course" data-toggle="modal" data-target="#detailsModal" >TW</div></td>
								<td><div class="object laboratory" data-toggle="modal" data-target="#detailsModal" >IP</div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
							</tr>
							<tr>
								<th scope="row">14:00 - 16:00</th>
								<td><div class="object laboratory" data-toggle="modal" data-target="#detailsModal" >MCM</div></td>
								<td><div class="object"></div></td>
								<td>
									<div class="object consultations" data-toggle="modal" data-target="#detailsModal" >MCM</div>
									<div class="object laboratory" data-toggle="modal" data-target="#detailsModal" >TW</div>
								</td>
								<td><div class="object laboratory" data-toggle="modal" data-target="#detailsModal" >PSGBD</div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
							</tr>
							<tr>
								<th scope="row">16:00 - 18:00</th>
								<td><div class="object laboratory" data-toggle="modal" data-target="#detailsModal" >PA</div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
							</tr>
							<tr>
								<th scope="row">18:00 - 20:00</th>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
								<td><div class="object"></div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<%= require('html-loader!./pages/partials/shared/footer.html') %>


	<!-- Details Modal -->

	<div class="modal sign-modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">

					<div class="header">
						<h6 class="over-title">Detalii despre</h6>
						<h2 class="title">--Materie--</h2>
					</div>
					<div class="content text-center">
						<!--Content-->

						<div class="text-black-50 text-left"><small>NUME PROFESOR</small></div>
						<h5 class="text-primary text-left">Nume Prenume</h5>
						<hr class="my-3">
						<div class="text-black-50 text-left"><small>CONTACT PROFESOR</small></div>
						<h5 class="text-primary text-left">profesor@profs.info.uaic.ro</h5>
						<hr class="my-3">
						<div class="text-black-50 text-left"><small>SITE</small></div>
						<h5 class="text-primary text-left"><a href="">www.profesor.info.uaic.ro</a></h5>
						<hr class="my-3">
						<div class="text-black-50 text-left"><small>NUMAR CREDITE</small></div>
						<h5 class="text-primary text-left">6</h5>
						<hr class="my-3">
						<div class="text-black-50 text-left"><small>LINK-URI UTILE</small></div>
						<h5 class="text-primary text-left"><a href="">www.google.ro</a></h5>
						<hr class="my-3">
					
						<button class="btn btn-primary row mt-4">Email rapid</button>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>