<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<title>FII Student</title>
	<link rel="stylesheet" href="./scss/layout/teachers.scss">
</head>

<body>
	<%= require('html-loader!./pages/partials/shared/navbar.html') %>
	<div class="main">
		<div class="wrapper">
			<div class="column column-wide">
				<div class="content-block">
					<h1 class="title">Profesori</h1>
					<hr> </hr>
					<div class="post-content list-members">
						<div class="member">
							<h4 class="secondary-title">
								Dr. Lenuta Alboaie, Conferentiar universitar
							</h4>
							<p>
								<strong>Birou: </strong>C310
							</p>
							<p>
								<strong>
									Adresa Web: 
								</strong>
								<a href="http:profs.info.uaic.ro/~adria" class="external" target="_blank">https://profs.info.uaic.ro/~adria</a>
							</p>
							<p>
								<strong>
									Materia predata: 
								</strong>
								Retele de calculatoare
							</p>
							<p>
								<strong>
									Email: 
								</strong>
								"adria@info.uaic.ro"
							</p>
						</div>
						<hr> </hr>
						<div class="member">
							<h4 class="secondary-title">
								Dr. Andreea Arusoaie, Lector universitar
							</h4>
							<p>
								<strong>Birou: </strong>C307
							</p>
							<p>
								<strong>
									Adresa Web: 
								</strong>
								<a href="http:profs.info.uaic.ro/~andreea.arusoaie" class="external" target="_blank">https://profs.info.uaic.ro/~andreea.arusoaie</a>
							</p>
							<p>
								<strong>
									Materia predata: 
								</strong>
								Matematica
							</p>
							<p>
								<strong>
									Email:
								</strong>
								"andreea.arusoaie@info.uaic.ro"
							</p>
						</div>
						<hr> </hr>
						<div class="member">
							<h4 class="secondary-title">
								Dr. Andrei Arusoaie, Conferentiar universitar
							</h4>
							<p>
								<strong>Birou: </strong>C414
							</p>
							<p>
								<strong>
									Adresa Web: 
								</strong>
								<a href="http:profs.info.uaic.ro/~arusoaie.andrei" class="external" target="_blank">https://profs.info.uaic.ro/~arusoaie.andrei</a>
							</p>
							<p>
								<strong>
									Materia predata: 
								</strong>
								Logica
							</p>
							<p>
								<strong>
									Email:
								</strong>
								"andrei.arusoaie@info.uaic.ro"
							</p>
						</div>
						<hr> </hr>
						<div class="member">
							<h4 class="secondary-title">
								Dr. Mihaela Elena Breaban, Conferentiar universitar
							</h4>
							<p>
								<strong>Birou: </strong>C416
							</p>
							<p>
								<strong>
									Adresa Web: 
								</strong>
								<a href="http:profs.info.uaic.ro/~pmihaela" class="external" target="_blank">https://profs.info.uaic.ro/~pmihaela</a>
							</p>
							<p>
								<strong>
									Materia predata: 
								</strong>
								Baze de date, Algoritmi genetici
							</p>
							<p>
								<strong>
									Email:
								</strong>
								"pmihaela@info.uaic.ro"
							</p>
						</div>
						<hr> </hr>
						<div class="member">
							<h4 class="secondary-title">
								Dr. Sabin Corneliu Buraga, Conferentiar universitar
							</h4>
							<p>
								<strong>Birou: </strong>C303
							</p>
							<p>
								<strong>
									Adresa Web: 
								</strong>
								<a href="http:profs.info.uaic.ro/~busaco" class="external" target="_blank">https://profs.info.uaic.ro/~busaco</a>
							</p>
							<p>
								<strong>
									Materia predata: 
								</strong>
								Tehnologii Web
							</p>
							<p>
								<strong>
									Email:
								</strong>
								"busaco@info.uaic.ro"
							</p>
						</div>
						<hr> </hr>
						<div class="member">
							<h4 class="secondary-title">
								Dr. Oana Captarencu, Lector universitar
							</h4>
							<p>
								<strong>Birou: </strong>C211
							</p>
							<p>
								<strong>
									Adresa Web: 
								</strong>
								<a href="http:profs.info.uaic.ro/~otto" class="external" target="_blank">https://profs.info.uaic.ro/~otto</a>
							</p>
							<p>
								<strong>
									Materia predata: 
								</strong>
								LFAC
							</p>
							<p>
								<strong>
									Email:
								</strong>
							"otto@info.uaic.ro"
							</p>
						</div>
						<hr> </hr>
						<div class="member">
							<h4 class="secondary-title">
								Dr. Ferucio Laurentiu Tiplea, Conferentiar universitar
							</h4>
							<p>
								<strong>Birou: </strong>C301
							</p>
							<p>
								<strong>
									Adresa Web: 
								</strong>
								<a href="http:profs.info.uaic.ro/~ftiplea" class="external" target="_blank">https://profs.info.uaic.ro/~ftiplea</a>
							</p>
							<p>
								<strong>
									Materia predata: 
								</strong>
								Introducere in criptografie
							</p>
							<p>
								<strong>
									Email:
								</strong>
								"ftiplea@info.uaic.ro"
							</p>
						</div>
						<hr> </hr>
						<div class="member">
							<h4 class="secondary-title">
								Dr. Adrian Iftene, Conferentiar universitar
							</h4>
							<p>
								<strong>Birou: </strong>C204
							</p>
							<p>
								<strong>
									Adresa Web: 
								</strong>
								<a href="http:profs.info.uaic.ro/~adiftene" class="external" target="_blank">https://profs.info.uaic.ro/~adiftene</a>
							</p>
							<p>
								<strong>
									Materia predata: 
								</strong>
								Ingineria programarii
							</p>
							<p>
								<strong>
									Email:
								</strong>
								"adiftene@info.uaic.ro"
							</p>
						</div>
        			</div>
				</div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./pages/partials/shared/footer.html') %>
</body>

</html>