.navbar {
	.nav-item {
		padding: 10px 10px; 

		&.active {
			.nav-link {
				color: $color-primary;
			}
		}

		.nav-link {
			font-weight: bold;
			
		}
	}
	img {
		width: 90px;
		height: 90px;
	}
}